.container {
  position: relative;
  background: #eee;
  margin: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 350px) and (max-width: 768px) {
  .container {
    margin: 3rem;
  }
}

@media (max-width: 350px) {
  .container {
    margin: 2rem;
  }
}
