.button-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.copy-input {
  font-size: 2rem;
  padding: 1rem;
  background: #ccc;
}
.link {
  padding: 1rem;
  width: 100%;
  background-color: #FBA100;
  text-align: center;

}

.open {
  background: transparent;

  height: 100%;
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;

}

.link:hover, .link:active {
  background-color: #FDC300;
}

.copy {
  padding: 1rem;
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;
  background: #8FC33A;
  width: 100%;

}

.copy:hover, .copy:active {
  background: #0FE55C;
}

@media only screen and (min-width: 350px) and (max-width: 768px) {
  .button-container {
    flex-direction: column;
  }
  .copy-input {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
}

@media (max-width: 350px) {
  .button-container {
    flex-direction: column;
  }
  .copy-input {
    font-size: 1.2rem;
    padding: 0.4rem;
  }
  .copy {
    font-size: 1.5rem;
  }
  .open {
    font-size: 1.5rem;
  }

}
