.header {
	background: linear-gradient(to right, #AAEFCC, #6BBAA7);
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.title {
	font-family: 'Monoton', cursive;
	color: #333;
	font-style: italic;
	font-size: 3rem;
	padding: 3rem 0.8rem;
}

.list {
	display: flex;
	align-items: center;
	/*height: 100%;*/
}

.list-item {
	margin-right: 1rem;
	color: #fff;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2rem;
}

.list-question {
	padding: 0.3rem 0.6rem;
	border: 0.2rem solid #fff;
	border-radius: 50%;
}

.boxed-view {
	background: #fff;
	padding: 1.2rem;
	text-align: center;
	width: 60rem;
}

.boxed-view-modal {
  display: flex;
  align-items: center;
  justify-content: center;
/*  width: 100vw;
  height: 100vw;
*/
  /*background: fade-out(#000, 1);*/
  background: rgba(170,239,204, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
	margin-top: 1rem;
	margin-right: 1rem;
  width: 45px;
  height: 45px;
	font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
	font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.modal {

}

.modal-title {
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
	font-size: 2.4rem;
}

.modal-content {
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
	font-size: 1.5rem;
}

@media only screen and (min-width: 350px) and (max-width: 768px) {
	.boxed-view {
		padding: 1rem;
		width: 30rem;

	}
}

@media only screen and (max-width: 350px) {
	.boxed-view {
		padding: 0.7rem;
		width: 10rem;

	}
}
