@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Monoton');


html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #cccccc;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
}
input[type=tel] {

    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=tel]:focus {
    color: #fff;
    background-color: #8FDECE;
    outline: none;
    border: 3px solid #AAEFCC;
}

input[type=tel]:focus::placeholder {
  color: #fafafa;
  padding: 0;
}

input[disabled] {
  color: #fff;
}

input::placeholder {
  color: #BBB;
}

@media only screen and (min-width: 350px) and (max-width: 768px) {
  html {
		font-size: 50%;
	}
  button {
    width: 100%;
  }
  input[type=text] {

      font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
	html {
		font-size: 35%;
	}
  button {
    width: 100%;
  }
  input[type=text] {

      font-size: 1.4rem;
  }
}
